<div class="form__block">
  <h1 class="form__header">Resend confirmation instructions</h1>

  <div class="w-full">
  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="flex flex-col gap-4 p-2">
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
      </div>

      <div class="actions">
        <%= f.submit "Resend confirmation instructions" %>
      </div>
    </div>
  <% end %>
  </div>

  <div class="sharedlinks__bottom">
    <%= render "devise/shared/links" %>
  </div>
</div>