<div class="w-1/3 h-[90%] border-2 border-slate-950 rounded-3xl bg-sky-100 flex flex-col justify-between gap-2">

  <div class="header--main border-b-2 border-slate-950">
    <h1>create account</h1>
  </div> 

  <div class="form__block">
    <div class="w-full">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="flex flex-col gap-4 p-2">
          <div class="field">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="field">
            <div class="flex items-center gap-2">
              <%= f.label :password %>
              <% if @minimum_password_length %>
              <small>(<%= @minimum_password_length %> characters minimum)</small>
              <% end %>
            </div>
            <%= f.password_field :password, autocomplete: "new-password" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>

          <div class="actions btn--main">
            <%= f.button "Sign up", class:"tracking-wider uppercase" %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="sharedlinks__bottom">      
      <%= render "devise/shared/links" %>
    </div>
  </div>

  <%= render partial: "devise/shared/form_footer" %>
</div>