<div class="w-full">
  <%= form_with model: [ @category, @category.tasks.build ] do |form| %>
    <div class="w-full h-full flex flex-col justify-center gap-3">       
      <div class="h-full w-full flex flex-col gap-2">
        <div class="field">
          <%= form.label :due_date, "Due Date:" %>
          <%= form.date_field :due_date %>
        </div>

        <div class="field">
          <%= form.label :task_item, "Task:" %>
          <%= form.text_field :task_item %>
        </div>
      </div>

      <div class="sharedlinks__bottom">
        <%= form.button "Create Task", class:"actions btn--main" %>
      </div>
    </div>
  <% end %>  
</div>