<%= form_with model: task, url: [task.category, task], method: :patch do |form| %>
  <div class="flex items-center justify-between w-full px-2">
    <div class="field w-full flex-row items-center text-xs max-w-[90%]">
      <%= form.check_box :is_completed, as: :boolean, checked: task.is_completed, onchange: "this.form.submit()", class:"drop-shadow-lg" %> 
      <div class="<%= task.is_completed ? "italic line-through opacity-60" : "" %> overflow-hidden">
        <%= form.label :is_completed, truncate(task.task_item, length: 80) %>
      </div>   
    </div>        

    <div class="task-btns <%= task.is_completed ? "hidden" : "flex items-center gap-3" %>">
      <%= link_to edit_category_task_path(task.category_id, task.id) do %>
        <i class="fa-regular fa-pen-to-square drop-shadow-lg"></i>
      <% end %>
      
      <%= link_to [task.category, task], data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this task?"} do %>
        <i class="fa-solid fa-trash-can text-red-500 drop-shadow-lg"></i>
      <% end %>
    </div>
  </div>

  <% if task.task_overdue? %>
    <div class="w-full text-red-500 font-bold px-9 text-xs italic">
      <%= content_tag :small, task.due_date.strftime("%m/%d/%Y") %>
    </div>
  <% end %>  

<% end %>    