<div class="w-1/3 h-[90%] border-2 border-slate-950 rounded-3xl bg-sky-100 flex flex-col justify-between gap-2">

  <div class="header--main border-b-2 border-slate-950">
    <h1>Edit Task</h1>
  </div> 

  <div class="form__block">
    <div class="w-full">
      <%= form_with model: @task, url: category_task_path(@category, @task), method: :patch do |form| %>     
        <div class="h-full w-full flex flex-col gap-2">
          <div class="field">
            <%= form.label :due_date, "Due Date:" %>
            <%= form.date_field :due_date %>
          </div>

          <div class="field">
            <%= form.label :task_item, "Task:" %>
            <%= form.text_field :task_item %>
          </div>

          <div class="field flex-row items-center">
            <%= form.check_box :is_completed, as: :boolean, class:"checkbox" %>
            <%= form.label :is_completed, "Done" %>
          </div>
        </div>  

        <div class="sharedlinks__bottom">
          <%= form.button "Submit", class:"actions btn--main" %>
          <%= link_to category_path(@category), class:"actions btn--subv2" do %> 
            <%= content_tag :p, "Back to #{truncate(@category.category_name, length: 50)}", class:"text-center" %>        
          <% end %>
          <%= link_to "Home", categories_path, class:"actions bg-secondary" %>
        </div>

      <% end %>
    </div>
  </div>

  <%= render partial: "shared/form_footer" %>
</div>