<h1>
  <%= @task.task_item %>
</h1>

<div class="form__block">
  <h1 class="form__header">Edit task:</h1>

  <div class="w-full">
    <%= form_with model: @task, url: category_task_path(@category, @task), method: :patch do |form| %>
      <div class="w-full h-full flex flex-col justify-center gap-3 sm:gap-[1.5rem]">
      <% if @category.errors.any? %>    
        <div class="flex flex-col justify-center">
          <% @category.errors.full_messages.each do |message| %>
            <p class="text-red-500 text-fSize__sm lowercase font-semibold">
              ** <%= message %>
            </p>
          <% end %>  
        </div>
      <% end %>
      
      <div class="h-full w-full flex flex-col gap-2">
        <div class="field">
          <%= form.label "Due Date:" %>
          <%= form.date_field :due_date %>
        </div>

        <div class="field">
          <%= form.label "Task:" %>
          <%= form.text_field :task_item %>
        </div>

        <div class="field">
          <%= form.check_box :is_completed %>
          <%= form.label "Done" %>
        </div>
      </div>  

      <%= form.hidden_field :user_id, value: current_user.id %>

      <div class="sharedlinks__bottom">
        <%= form.button "Submit", class:"actions btn--main" %>
        <%= link_to "Back", category_path(@category), class:"actions btn--subv1" %>
      </div>
    </div>
    <% end %>
  </div>
</div>