<div class="w-1/3 h-[90%] border-2 border-slate-950 rounded-3xl bg-sky-100 flex flex-col justify-between gap-2 drop-shadow-lg">

  <div class="header--main border-b-2 border-slate-950">
    <h1>hey, you're back!</h1>
  </div> 

  <div class="form__block">
    <div class="w-full">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="flex flex-col gap-4 p-2">
          <div class="field">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="field">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field flex-row">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>

          <div class="actions btn--main">
            <%= f.button "Login", class:"tracking-wider uppercase" %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="sharedlinks__bottom">
      <%= render "devise/shared/links" %>
    </div>
  </div>

  <%= render partial: "devise/shared/form_footer" %>
</div>