<div class="form__block">
  <h1 class="form__header">
    Welcome back!
  </h1>

  <div class="w-full">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="flex flex-col gap-4 p-2">
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions btn--main">
          <%= f.button "Login", class:"tracking-wider" %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="sharedlinks__bottom">
    <%= render "devise/shared/links" %>
  </div>
<!--
  <div class="bg-primary rounded-tr-none rounded-3xl border-2 border-slate-950 w-full h-1/4 grid place-items-center p-6 font-bold">
    <div class="bg-purple-50 rounded-xl border-2 border-slate-950 w-full max-h-full h-full grid place-items-cente p-2 overflow-hidden">
      
    </div>    
  </div>
--> 
</div>