<div class="w-2/3 h-fit flex justify-center items-center gap-3 py-2">
  <div class="grid place-items-center bg-accentV2 rounded-full h-10 aspect-1 text-slate-950 border-2 border-slate-950">
    <%= link_to root_path do %>
      <i class="fa-solid fa-house text-sky-50"></i>
    <% end %>
  </div>

  <div class="flex justify-center items-center px-4 w-full h-auto p-2 actions bg-primary">
    <%= link_to edit_category_path(@category) do %>
      <h1 class=" uppercase text-lg text-sky-50 flex gap-4 items-center justify-center">
        <%= @category.category_name %> 
        <i class="fa-solid fa-pencil grid place-items-center text-xs"></i>
      </h1>
    <% end %>                                    
  </div>

  <div class="grid place-items-center bg-accentV3 rounded-full h-10 aspect-1 text-slate-950 border-2 border-slate-950">
    <%= link_to category_path(@category), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to permanently delete this category?" }  do %>
      <i class="fa-solid fa-x text-sky-50"></i>
    <% end %>
  </div>
</div>

<div class="w-full h-[85%] px-6 flex justify-center">
  <div class="w-1/4 h-full border-2 border-slate-950 rounded-3xl bg-sky-100 flex flex-col justify-between gap-2">
    <div class="header--main border-b-2 border-slate-950">
      <h1>Add Task</h1>
    </div> 

    <div class="h-2/3 form__block">
      <%= render partial: "tasks/add_task_form" %>
    </div>

    <div class="h-1/4 w-full bg-primary border-t-2 border-slate-950 rounded-tr-[5rem] rounded-b-3xl">
      <!--dark blue bottom design-->
    </div>
  </div>

<!--show task-->
  <div class="w-2/3 h-full flex">
    <% if @tasks.size > 0 %>
      <div class="flex flex-col w-1/2">
        <h1 class="header--main">
          <% incomplete_tasks_count = @tasks.count { |task| !task.is_completed } %>
          <%= incomplete_tasks_count > 1 ? "Tasks" : "Task" %>
          <%= "(#{incomplete_tasks_count})" %>
        </h1> 

        <div class="w-full px-6 py-2 flex flex-col items-center gap-2 h-full overflow">
          <% @tasks.each do |task| %>
            <% if task.is_completed == false %>
              <div class="border-2 border-slate-950 w-full py-4 px-6 rounded-2xl bg-slate-50">
                <%= render partial: "tasks/show_task", locals: { task: task } %>
              </div>
            <% end %>        
          <% end %>
        </div>
      </div>
    <% end %>

    <% if @tasks.any?(&:is_completed) %>
      <div class="flex flex-col w-1/2">        
        <h1 class="header--main">
          Completed
        </h1>    

        <div class="w-full max-w-1/2 px-6 py-2 flex flex-col items-center h-full gap-2">
          <% @tasks.each do |task| %>
            <% if task.is_completed == true %>
              <div class="border-2 border-slate-950 w-full py-4 px-6 rounded-2xl bg-slate-50">
                <%= render partial: "tasks/show_task", locals: { task: task } %>
              </div>
            <% end %>        
          <% end %>
        </div>    
      </div>
    <% end %>
  </div>
<!--end show task-->
</div>
